{% extends 'layout/layout.html' %}
{% load static%}
{% block content %}
<section class="container">
    <h1 style="font-size: 2.5rem;">Eliminar Persona</h1>
    <p class="eliminar">¿Estás seguro de que deseas eliminar a {{ persona.nombre }} {{ persona.apellido }}?</p>
    <form method="post">
        {% csrf_token %}
        <div style="display: grid; grid-template-columns:repeat(2, minmax(150px, 1fr));">
            <button class="btn_Eliminar" type="submit">Eliminar</button>
            <a  href="{% url 'listar_personas' %}" class="btn_link">Cancelar</a>
        </div>
        
    </form>
</section>


{% endblock %}