{% extends 'layout/layout.html' %}
{% load static%}
{% block content %}
<h1 style="text-align: center; font-size: 2.5rem;">Lista de Personas</h1>
<section style="display: flex; align-items: center; gap: 2rem;">
  <form method="GET" action="{% url 'listar_personas' %}" >
    <div style="display: grid; grid-template-columns:repeat(2, minmax(150px, 1fr));">
      <input style="width: 250px; " type="text" name="search" placeholder="Buscar por CI o Nombre"
        value="{{ request.GET.search }}">
      <button type="submit">Buscar</button>
    </div>
  </form>
  <a class="btn_link btn_Add"  href="{% url 'crear_persona' %}">
    Agregar Persona
  </a>
</section>

<table style="max-width: 1500px; margin: 10px;">
  <thead>
    <tr>
      <th>CI</th>
      <th>Nombre</th>
      <th>Email</th>
      <th>Fecha Nacimiento</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for persona in page_obj %}
    <tr>
      <td>{{persona.CI}}</td>
      <td>{{ persona.nombre }} {{ persona.apellido }}</td>
      <td>{{persona.email}}</td>
      <td>{{persona.fecha_nacimiento}}</td>
      <td>
        <a style="margin-right: 20px;" href="{% url 'actualizar_persona' persona.id %}">
          <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M21 12a1 1 0 0 0-1 1v6a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V5a1 1 0 0 1 1-1h6a1 1 0 0 0 0-2H5a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3v-6a1 1 0 0 0-1-1m-15 .76V17a1 1 0 0 0 1 1h4.24a1 1 0 0 0 .71-.29l6.92-6.93L21.71 8a1 1 0 0 0 0-1.42l-4.24-4.29a1 1 0 0 0-1.42 0l-2.82 2.83-6.94 6.93a1 1 0 0 0-.29.71m10.76-8.35 2.83 2.83-1.42 1.42-2.83-2.83ZM8 13.17l5.93-5.93 2.83 2.83L10.83 16H8Z" />
          </svg>
        </a>
        <a href="{% url 'eliminar_persona' persona.id %}">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M7 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v2h4a1 1 0 1 1 0 2h-1.069l-.867 12.142A2 2 0 0 1 17.069 22H6.93a2 2 0 0 1-1.995-1.858L4.07 8H3a1 1 0 0 1 0-2h4zm2 2h6V4H9zM6.074 8l.857 12H17.07l.857-12zM10 10a1 1 0 0 1 1 1v6a1 1 0 1 1-2 0v-6a1 1 0 0 1 1-1m4 0a1 1 0 0 1 1 1v6a1 1 0 1 1-2 0v-6a1 1 0 0 1 1-1"
              fill="#0D0D0D" />
          </svg></a>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="5" style="text-align: center;">No se encontraron resultados.</td>
    </tr>
    {% endfor %}
  </tbody>

</table>
<!-- Agregar enlaces de paginación -->
<div style="text-align: center; margin-top: 20px;">
  <span>
    Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
  </span>
  <div>
    {% if page_obj.has_previous %}
    <a href="?page=1&search={{ request.GET.search }}">⏮️</a>
    <a href="?page={{ page_obj.previous_page_number }}&search={{ request.GET.search }}">⏪</a>
    {% endif %}

    <span>
      {% for i in page_obj.paginator.page_range %}
      {% if page_obj.number == i %}
      <strong>{{ i }}</strong> <!-- Página actual -->
      {% else %}
      <a href="?page={{ i }}&search={{ request.GET.search }}">{{ i }}</a>
      {% endif %}
      {% endfor %}
    </span>

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}&search={{ request.GET.search }}">⏩</a>
    <a href="?page={{ page_obj.paginator.num_pages }}&search={{ request.GET.search }}">⏭️</a>
    {% endif %}
  </div>
</div>
{% endblock %}